<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>emrs.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%-5level] [%class{100}:%method:%line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>emrs.%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<logger name="uk.ac.plymouth.calson.fyp.emrs" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
<!-- 		<appender-ref ref="FILE" /> -->
	</logger>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
<!-- 		<appender-ref ref="FILE" /> -->
	</root>
</configuration>